<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525658721900-l1vab19fricngk4bcur08u8bds999v3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525658721900-l1vab19fricngk4bcur08u8bds999v3v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>525658721900-1cj7op4h00gakbkil76dupitin978bei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADxTxb-f4Dxbt7xnS78Wa4rRJ84x_RvCY</string>
	<key>GCM_SENDER_ID</key>
	<string>525658721900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prod.outiLog</string>
	<key>PROJECT_ID</key>
	<string>outi-log</string>
	<key>STORAGE_BUCKET</key>
	<string>outi-log.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525658721900:ios:a6be52e6bd27265ecbd249</string>
	<key>IS_CRASHLYTICS_ENABLED</key>
	<true/>
	<key>IS_CRASHLYTICS_COLLECTION_ENABLED</key>
	<true/>
</dict>
</plist>